{% load static %}
<div class="section px-3 px-lg-4 pt-5" id="education">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">My Education</h2>
        </div>
        <div class="row py-3">
            {% for edu in education %}
                <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="experience">
                        <div class="card-inner">
                            <div class="card-front box-acheive">
                                <img src="{{ edu.image.url }}" style="width:250px;height:250px;"
                                     alt="{{ edu.image }}">
                            </div>
                            <!-- Decorate card back side -->
                            <div class="card-back align-items-center box-acheive" style="border-color:red">
                                <h3>{{ edu.school }}</h3>
                                <h4 style="color:green">{{ edu.course }}</h4>
                                <p>{{ edu.passing_year }}</p>
                                <p style="color:red"><b>{{ edu.score }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
</div>